
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

* {
    color:inherit;
}

body {
    background-image: url(./images/bg.jpg);
    background-color: rgb(255 255 255 / 91%);
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.header {
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color: #111111;
    color: white; 
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1001;
}

.logo {
    padding: 0 20px;
    position: relative;
}

/* Menu-hover */
.menu {
    line-height: 44px;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

a {
    text-decoration: none;
}

.list-menu {
    visibility: hidden;
    color: rgba(255, 255, 255, 0.5);
    height: 94vh;
    width: 0;
    background-color: #111111;
    padding: 3rem 2rem;
    position: absolute;
    right: 0px;
    top: 7vh;
    overflow: hidden;
    transition: width 1s ease;
    box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 20%);
    z-index: 10002;
}

.menu:hover .list-menu {
    width: 20vw;
    visibility: visible;
}

.item-menu {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    line-height: 3.5rem;
}
.item-menu-border-non {
    border: 0;
    line-height: 3.5rem;
}

/* Banner */

.banner {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner::before, .banner::after{
    display: block;
    content: '';
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner::before {
    background-color: #111111;
}

.banner::after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
}

video {
    height: 100vh;
    width: 100vw; 
    object-fit: cover;
    position: absolute;
}
.banner-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
    color: inherit;
    z-index: 10;
}

.banner-text-name {
    display: block;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.banner-text-report { 
    margin-bottom: 0; 
    display: block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 0 2rem 0;
    color: rgba(255, 255, 255, 0.5);
}

/* Wrapper */

.features-wrapper {
    padding: 4rem 0 2rem 0;
    position: relative;
    color: #444444;
    margin-bottom: 4rem;
    margin-left: 8rem;
    width: 80vw;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.feature-card {
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 3%);
    border-radius: 4px;
    padding: 2rem 4rem;
    line-height: 1rem;
    text-align: center;
}

.icon {
    color: #ce1b28;
    cursor: pointer;
    font-size: 5rem;
    line-height: 4rem;
}

.line-height-header {
    line-height: 4rem;
}

/* Parallax */

.parallax-wrapper {
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(./images/cta01.jpg);
    background-color: #ce1b271f;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
}

.parallax-text {
    margin: 0 auto;
    width: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Feedback */

.feedback-color {
    color: #444444;
    text-align: center;
    margin-bottom: 5rem;
}

.feedback-wrapper {
    margin: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5rem;

}

.feedback-card {
    background-color: #fff;
    color: #444444;
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 3%);
    border-radius: 4px;
    text-align:left;
    height: 100%;
    padding: 3rem; 
}

.feedback-text {
    color: #444444;
    border-left: solid 0.5rem;
    border-left-color: rgba(0, 0, 0, 0.25);
    font-style: italic;
    line-height: 1.2rem;
    margin: 0 0 2rem 0;
    padding: 1rem 0 1rem 2rem;
}
.author{
    width: 85%;
    font-size: 0.74rem;
    
    display: flex;
    align-items: center;
}
.image {
    border-radius: 100%;
    width: 30%;
}
.credit {
    text-align: left;
    width: 100%;
    margin-left: 25%;
}
.color-red {
    color: #ce1b28;
}

/* Footer */

.footer {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    padding: 4rem 0 2rem 0;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-article {
    max-width: 50%;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.2rem;
}

.footer-header {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    margin: 0 0 1.5rem 0;
}

.center {
    margin: 0 auto 1.5rem auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.link-list, .social-link {
    line-height: 2rem;
}

.link-list li:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.rights {
    width: 90%;
    border-top: 1px solid;
    font-size: 0.8rem;
    opacity: 0.5;
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
}

.sub-header {
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: 300;
    margin: 0 0 1.5rem 0;
}
.sub-header-article {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 0 2rem 0;
    text-align: center;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.75);
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

