:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    color:inherit;
    
}


body {
    background-image: url(./images/bg.jpg);
    background-color: rgb(255 255 255 / 79%);
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.header {
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color: #111111;
    color: white; 
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 0 20px;
    position: relative;
    
    
}

.menu {
    line-height: 44px;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

a {
    text-decoration: none;
}

/* Menu-hover */
.list-menu {
    visibility: hidden;
    color: rgba(255, 255, 255, 0.5);
    height: 94vh;
    width: 0;
    background-color: #111111;
    padding: 3rem 2rem;
    position: absolute;
    right: 0;
    top: 6vh;
    overflow: hidden;
    transition: width 1s ease;
    box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 20%);
    z-index: 10002;
    
}


.menu:hover .list-menu {
    width: 20vw;
    visibility: visible;
    
}

.item-menu {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    line-height: 3.5rem;
}
.item-menu-border-non {
    border: 0;
    line-height: 3.5rem;
}



.banner {
    min-height: 60vh;
    max-height: 65vh;
    background-color: #ce1b28;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.banner::before, .banner::after{
    display: block;
    content: '';
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner::before {
    background-color: #111111;
}

.banner::after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
}

.banner video, .banner-text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.banner-text {
    z-index: 2;
}


.features-wrapper {
    background-color: rgb(196, 188, 188);
}

.card-wrapper {
    justify-content: space-between;
}

.feature-card {
    width: 300px;
    height: 100px;
    border: 1px solid black;
}


.parallax-wrapper {
    background-image: url(./images/cta01.jpg);
    background-color: #ce1b2756;
    background-blend-mode: overlay;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
}

.feedback-wrapper {
}

.feedback-card {
    width: 300px;
    height: 100px;
    border: 1px solid black;
}

.footer {
    background-color: #111111;
}

.footer-article {
    max-width: 50%;
}

.max-width {
    max-width: 80vw;
    margin: 0 auto;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.white-text {
    color: white;
}